.country_detail {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 4rem;

}

.cta_back {
  width: 8rem;
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.cta_back button {
  width: 50%;
  outline: none;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  background: inherit;
  cursor: pointer;
}

.details_section {
  display: flex; 
  align-items: center;
  margin: 6rem 0;
  column-gap: 6rem;
}

.details_section_flag {
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.1);
}

.details_section_flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.details_section_data {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.country_data {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  margin: 2rem 0 1rem;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 0.5rem;
}

dt {
  font-weight: 600;
  grid-column-start: 1;
  margin-right: 0.5em;
}

dd {
  grid-column-start: 2;
  margin: 0;
}

.border_countries_list {
  display: flex;
  align-items: center;
  margin: 6rem 0 2rem;
  bottom: 0;
}

.border_countries_list p {
  font-weight: 600;
}

.border_countries_item {
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  margin: 0 1rem;
  border: 0;
  outline: none;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
  font-family: inherit;
  font-weight: inherit;
}

.border_countries_item:hover {
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  .details_section {
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    column-gap: 6rem;
  }
}
