.home_page {
}
.app_header {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0 4rem;
}

.country_list {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 0 4rem;
}

@media screen and (max-width: 375px) {
  .country_list {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: auto;
    margin: 0 0 4rem;
  }

  .app_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 0 4rem;
  }
}

@media screen and (max-width: 500px) {
  .country_list {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: auto;
    margin: 0 0 4rem;
  }
}
