.countries_navbar {
  position: fixed;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}

.theme_switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.theme_switch  p {
  margin-left: 6px;
}
