.countries_navbar {
  position: fixed;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.theme_switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.theme_switch p {
  margin-left: 6px;
}

.light_theme {
  background: var(--light-mode-bg);
  color: var(--light-mode-text);
}

.dark_theme {
  background: var(--dark-mode-items);
  color: var(--dark-mode-text);
}

@media screen and (max-width: 500px) {
  .countries_navbar {
    padding: 1rem 2rem;
  }

  .logo {
    font-size: 1rem;
  }

  .theme_switch p {
    display: none;
  }
}
