.country {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 50px -9px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0;
  min-height: 400px;
  cursor: pointer;
}

.country_flag {
  height: 50%;
}

.country_flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.country_data {
  padding: 1rem 2rem 3rem;
}

.country_data h3 {
  margin:1rem 0;
}

.country_data dl {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.country_data dt {
  font-weight: 600;
}

.country_data dt::after {
  content: ": ";
}
